body {
	margin: 10px auto;
	max-width:1260px;
	min-width: 480px;
}

a:link, a:visited {
	color: #5D2100;
	border: none;
}

.informer {
	background: #fff292;
	border: 1px #FFF solid;
	box-shadow:  0 0 0px 1px #eee;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	padding: 10px;
	position: relative;
	vertical-align: middle;

}

.informer .glyphicon {
	color: #E87B0C;
	padding-right: 10px;
}

.informer .glyphicon-remove {
	color: #333;
	padding-right: 10px;

}

.informer strong {
	color:#FF0000;
	vertical-align: middle;
	white-space: nowrap;
}

.informerClose {
	margin-left: -32px;
	right: 0;
	line-height: 16px;
	
}

.registerCall {
	display: inline-block;
	float: right;
	width: 370px;
	right: 0;
	vertical-align: middle;
	margin-top: -4px;
	
}

.siteHeader{
	margin-top: 5px;
	background: url('../images/header_top_back.png') repeat-x;
	border: 1px #FFF solid;
	box-shadow:  0 2px 2px 0px #ccc;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	padding: 5px 0;
}

.logo {
	
	margin:4px 0;
	
}

.logo img {
	width: 100%;
	height: 100%;
	max-width: 175px;
}

.headerAddLinks {
	display: inline-block;
	float: left;
	height: 34px;
	padding: 6px;
}

.headerAddLinks .glyphicon {
	color: #D90D15;
	padding-right: 10px;
}

.headerAddLinks a {
	margin-left: 10px;
}

/* language selector */
.langSelector {
	display: inline-block;
	float: left;
	height: 34px;
}

.langList {

width:70px;
min-width: 70px;
}

.lang {

	width:66px;
}

.flag {
	display: inline-block;
	height:11px;
	width: 16px;
	margin-right: 8px;
	background-image: url('../images/icons/flags_matrix.png');
	text-indent: -9999px;
	vertical-align: sub;
}

li .flag {
	vertical-align: baseline;
}

.flagRu {
	background-position: -288px -231px;
}
.flagEn {
  background-position: -336px -121px;
}

.flagUa {
  background-position: -336px -11px;
}


/* Header Login form */

.headerLoginForm {

}

.headerLoginForm .input-group-addon {
	padding-left: 6px;
	padding-right: 4px;
}

.headerLoginForm .btn {
	margin-left: 0;

}

.headerLoginForm .btn-group {
	vertical-align: text-top;
}

/* header Navigation and search */

.headerNavBlock {
	background: #fcaf36 url('../images/header_menu_back.png') repeat-x;
	border: 1px #FFF solid;
	box-shadow:  0 2px 2px 0px #ccc;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	padding: 5px 10px;
	margin-top:5px;
	
}

.headerNavBlock li.active a{
	background-color:#fff3bc;
}

.headerNavBlock li:hover a, .headerNavBlock li.active:hover a{
	background-color: #ffcc66;
}

.searchBlock {
	background-color:#fff3bc;
	border-color: #ddd #ddd transparent;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    border-top: none;
    padding:5px;
}

.searchBlock .btn {
	padding: 6px 9px;
}

/* sitePath */

.sitePath {
	margin:10px 0;
	background-image: url('../images/lined_bg.gif');
	background-color: transparent;
	border-left: 5px #ccc solid;
}
.breadcrumb{
	background-color: transparent;
	margin-bottom: 0;
}

.breadcrumb > li + li::before {
	content:"//";
}

/* main */
main {
	
	border:2px #fff solid;
    -moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	box-shadow: 0 0 0 1px #ccc;
	
}

main.container-fluid {
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
}

.articleHeader {
	
	background: #f2f2f2 url('../images/block_header_back.png') repeat-x;
	background-image: linear-gradient( #dfdfdf, #f2f2f2);
	width: 100%;
	position: relative;


}

.articleHeader h1 {
	font-size: 1.2em;
	font-weight: 600;
	margin:0;
	padding: 10px;

}

.registerPageIcon {
	
}

.helpPageIcon {
	display: inline-block;
	position: absolute;
	top:0;
	right: 0;
	margin: 5px;
}


/* registration form */

.regForm {
	padding: 5px;
	margin-top: 10px;
}

.regForm .input-group {
	margin-bottom: 5px;
}

.regForm  input:required {
	background-image: url('../images/required.png');
	background-position: 100% 50%;
	background-repeat: no-repeat;
}

.regForm select#langSelect {
	background-image: url('../images/required.png');
	background-position: 97% 50%;
	background-repeat: no-repeat;

}

.regForm .input-group-addon:first-child {
	width: 90px;
	text-align: left;
}

.regForm .glyphicon {
	color: #e87b0c;
}

.regForm .igLong .input-group-addon:first-child {
	width: 180px;
	
}


.regForm .fio input {
	width: 33%;
	border-right: none;
}

.regForm .fio input:last-of-type {
	width: 34%;
	border-right: 1px #ccc solid;
	
}

.regForm hr {
	margin:10px 0;
}

button#now-send {
	float: right;
}

/* footer */

footer {
	margin-top: 20px;
	background: #faf4a5 url('../images/footer_back.png') repeat-x;
	
	background-image: linear-gradient(#fedf52, #faf4a5); 
	border:1px #ccc solid;
    -moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	box-shadow: 0 1px 2px 0 #ccc;
}

footer .info {
	margin-top: 5px;
	padding-left: 50px;
	font-size: 0.8em;
	background: url('../images/footer_arrows.png') no-repeat;
	background-position: 0 10px;
}

footer .securityInfo {
	vertical-align: middle;
	padding: 20px 0;
	text-align: right;
}

/*  buttons */


.btnGlossyRed {
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #d02718;
	padding:4px 9px;
	text-decoration:none;
	background:-moz-linear-gradient( center top, #f24537 5%, #c62d1f 100% );
	background:-ms-linear-gradient( top, #f24537 5%, #c62d1f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #f24537), color-stop(100%, #c62d1f) );
	background-color:#f24537;
	color:#ffffff;
	display:inline-block;
}.btnGlossyRed:hover {
	background:-moz-linear-gradient( center top, #c62d1f 5%, #f24537 100% );
	background:-ms-linear-gradient( top, #c62d1f 5%, #f24537 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #c62d1f), color-stop(100%, #f24537) );
	background-color:#c62d1f;
	color:#fff;
}.btnGlossyRed:active {
	position:relative;
	top:1px;
	color:#fff;
}
